body {
    background: #0b1a44;
    color: white;
    font-weight: bold;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 400px;
    height: 90px;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.6s ease-out;
    background: white;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.search-box input {
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 80%;
    padding: 20px;
    margin: 10px;
    border: none;
}

input:focus {
    outline: none;
}

.fa-solid {
    color: black;
    font-size: 35px;
}

button {
    background: lightblue;
    padding: 15px;
    border: none;
    border-radius: 50px;
    display: flex;
    text-align: right;
    cursor: pointer;
}

button:hover {
    background: #8ec1d2;
    transform: scale(1.1);
    transition: transform 0.05s ease-in-out;

}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 25px;
    border-radius: 5px;
    max-width: 400px;
    margin: 30px auto;
}

.humidity, .wind {
    display: inline-block;
    color: black;
    font-size: 40px;
}

.weather-details i, p {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    color: black;
    font-size: 30px;
}

.not-found{
    width: 100%;
    text-align: center;
    margin: 25px 0;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 30px;
    font-weight: 500;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.weather-box img {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}