* {
    font-family: Roboto, serif;
}

body {
    font-weight: bold;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.container {
    position: relative;
    width: 400px;
    height: 90px;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.6s ease-out;
    background: white;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.search-box input {
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 80%;
    padding: 20px;
    margin: 10px;
    border: none;
}

input:focus {
    outline: none;
}

.fa-solid {
    font-size: 35px;
}

button {
    background: lightblue;
    padding: 15px;
    border: none;
    border-radius: 50px;
    display: flex;
    text-align: right;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.05s ease-in-out;

}

.temperature, .description {
    margin: 0;
}

.temperature {
    margin-top: 25px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border-radius: 5px;
    max-width: 100%;
    margin-top: 80px;
}

.humidity, .wind {
    display: flex;
    width: 50%;
}

.humidity {
    justify-content: flex-start;
}

.wind {
    justify-content: flex-end;
}

.weather-details i {
    font-size: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.weather-details span {
    font-size: 20px;
}

.weather-details p {
    margin-top: 5px;
    font-size: 25px;
}

.not-found {
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found p {
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
}

.not-found p:first-child {

    font-size: 120px;
    font-weight: bold;
    color: gray;
}

.not-found p:last-child {
    font-size: 15px;
}

.weather-box, .weather-details {
    scale: 0;
    opacity: 0;
}

.weather-box img {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.temperature, .description {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.temperature {
    font-size: 60px;
}

.temperature span {
    font-size: 25px;
    vertical-align: top;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}